@import "brown.css";
html {
  background-color: var(--background);
  color: var(--forground);
}
p {
color: var(--foreground);
font-size: 20px;
}

h3{
  color: var(--foreground);
}
a {
  text-decoration: none;
}
.grow {
  text-align: center;
  margin-top: 20%;
}

.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
.content {
  text-align: center;
}

a:link {
  color: var(--foreground);
}

a:hover {
  font-weight: 700;
}

a:visited {
  color: var(--color11);
}

.data {
  width: 700px;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  position: absolute;
}
